@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  --primary-color--: #1385ff;
}


html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Montserrat", "system-ui", sans-serif;
  scroll-behavior: smooth !important;
}

/* header css */


.header_options>li {
  transition: all ease 0.5s;
}

.header_options>li:hover {
  color: #1385ff;
}

.home_banner {
  box-shadow: 0px 0px 15px 0px #90c6ff9e;
  transition: 0.5s;
}


.Quick_cards_sections {
  transition: all ease 1s;
}

.Quick_cards_sections:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 3px 3px var(--primary-color--);
}

.slider_inner {
  width: 100% !important;
}

.admin_side_options:hover {
  background-color: #d5e9ff;
  color: #1385ff;
  transition: 0.5s;
}

.admin_sidebar::-webkit-scrollbar {
  display: none;
}


input[type="file"]::-webkit-file-upload-button {
  background-color: #1385ff;
  border: 0;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
}


.login_banner {
  background-image: url("../src/images/Frame\ 46\ \(1\).svg");
  background-size: cover;
}

.login_profile_banner {
  background-image: url("../src/images/Frame\ 46\ \(1\).svg");
  background-size: cover;
}

.login_right::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.home_about_image {
  box-shadow: 0px 0px 15px 1px #0000008f;
  transition: all ease 1s;
}

.home_about_image:hover {
  box-shadow: 0px 0px 15px 1px #1385ff8f;
  transition: all ease 1s;
  transform: scale(1.1);
  border-radius: 20px;
}


.heading_hoverline {
  transition: all ease 1s;
  width: 150px;
}


.home_management_card {
  transition: 1s;

}

.home_management_card:hover {
  box-shadow: 0px 0px 15px 1px #1385ff8f;
  transform: scale(1.05);
  border-radius: 20px;
}

.home_goals_options::-webkit-scrollbar {
  display: none;
}

.desktop_megamenu::-webkit-scrollbar {
  display: none;
}


.useradmin_content_section::-webkit-scrollbar {
  display: none;
}

.dashboard_status_cards_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.id_card {
  background-image: url("../src/images/ombre-blue-curve-light-blue-background-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user_admin_sidebar::-webkit-scrollbar {
  display: none;
}

.payment_overlay>section>section::-webkit-scrollbar {
  display: none !important;
}

.payment_overlay_inner ::-webkit-scrollbar {
  display: none !important;
}

.profile_banner {
  background-image: url("../src/images/29085460_1938.jpg");
  background-size: cover;
}


.Slide_home {
  height: 100%;
}

.slick-next {
  background-color: black !important;
  border-radius: 50%;
  padding: 0 !important;
  margin: 0 !important;
  right: 100px !important;
  position: absolute !important;
  width: 30px !important;
  height: 30px !important;
}

.slick-arrow {
  background-color: #1385ff !important;
  width: 30px !important;
  height: 30px !important;
}

.slick-prev:before {
  content: 'url(../../../images/)' !important;
}

.slick-prev {
  background-color: black !important;
  color: black !important;
  border-radius: 50%;
  padding: 0 !important;
  margin: 0 !important;
  left: 100px !important;
  position: absolute !important;
  z-index: 9999;
  width: 30px !important;
  height: 30px !important;
}


input[type="range"] {
  appearance: none;
  height: 6px;
  background: var(--primary-color--);
}


input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid var(--primary-color--);
}


.donation_section {
  transition: all ease 1s;
}


.home_news_events_outer_section {
  background: linear-gradient(20deg, white, #7cbcfc, white);
}

/* From Uiverse.io by Nawsome */
.boxes {
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.boxes .box>div {
  --background: #5C8DF6;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box>div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box>div:nth-child(2) {
  --background: #145af2;
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box>div:nth-child(3) {
  --background: #447cf5;
  --rotateX: -90deg;
}

.boxes .box>div:nth-child(4) {
  --background: #DBE3F4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {

  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {

  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {

  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {

  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}